body {
  background-image: 'BlurtBoxBckgrnd.png';
  background-repeat: no-repeat;
  background-size: cover;
}

.content {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-family: Arial, sans-serif;
}

.topicBox {
  margin-bottom: 2em;
}

.countdown {
  font-size: 4em;
}

#topicHeader {
  margin-bottom: 1em;
  font-size: 2em;
}

button {
  padding: 10px;
  font-size: 1em;
}
